body{
    background-image: url(images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock{
    color: hsla(340, 11%, 95%, 0.699);
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(2.5px);
    background-color: hsla(0, 0%, 64%, 0.24);
    width: 100%;
}